@charset "UTF-8";
@font-face {
    font-family: "display";
    src: url(./fontes/SF-Pro-Display-Regular.otf) format("opentype")
}
@font-face {
    font-family: "texto";
    src: url(./fontes/SF-Pro-Text-Regular.otf) format("opentype");
}
@font-face {
    font-family: "redonda";
    src: url(./fontes/SF-Pro-Rounded-Regular.otf) format("opentype");
}
@font-face {
    font-family: "compacta";
    src: url(./fontes/SF-Compact.ttf) format("truetype");
}
@font-face {
    font-family: "novaiorque";
    src: url(./fontes/NewYork.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
    padding: 0px 0em;
    overflow-x: none;

    background-image: linear-gradient(to bottom, rgba(206, 225, 252, 0.863) , rgba(4, 30, 66, 0) );
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'display', sans-serif;
    margin: 1em 0em;
    text-indent: 0px;
}

p, span, a, li, div {
    font-family: 'texto', sans-serif;
    text-indent: 1.5em;
}
/*corpo*/

header{
    background-color: rgb(89, 118, 131);
    padding: 2em 1em;

    margin: auto;
    box-shadow: 2px 2px 5px black;
    color: white;

    transition: width 1.0s ease;
    transition: margin 1.0s ease;

}

main{
    flex: 1;

    /*background-color: white;*/
    
    margin: 1em;;
}

aside {
    position: sticky;
    top: 0;
    z-index: 0;

    border-radius: 0em 0em 1em 1em;

    background-color: rgb(89, 118, 131);

    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.185);
}

aside>nav>a{
    display: block;
    
    padding: 1em;

    color: white;
    text-decoration: none;

    border-bottom: 1px dashed white;
    
    text-indent: 0em;
}

button {
    display: block;
    
    padding: 1em;

    color: white;
    text-decoration: none;

    border-bottom: 1px dashed white;
    
    text-indent: 0em;
    background-color: inherit;
    border: inherit;
    font-size: 1em;
    font-weight: lighter;
}

/*flex*/

.flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1em;

    padding: 0em 10%;
    transition: padding 1.0s ease;
}

/*seleção*/

.imagem,.branco{
    padding: 1em;
}

.imagem {
    box-shadow: 0px 0px 5px black;

}

.imagem> h2 {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

.imagem> p {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

@media (max-width: 720px) {
    .flex {
        padding: 0px 0px;
    }
    header{
        width: 100%;
        margin: auto;
    }
}

@media (max-height: 720px) {
    .flex {
        padding: 0px 0px;
    }
    header{
        width: 100%;
        margin: auto;
    }
}

article#def {
    background-image: url(imagens/mulher-moderna-despreocupada-sorrindo-e-tirando-selfies-em-um-aplicativo-de-smartphone-posando-para-foto-em-seu-sofa.jpg);
    background-size: cover;
    background-position: center;
}

article#pro {
    background-image: url(imagens/garoto-de-vista-frontal-sendo-vitima-de-cyberbullying.jpg);
    background-size: cover;
    background-position: center;

}

article#imp {
    background-image: url(imagens/maselanaomequer.jpg);
    background-size: cover;
    background-position: left center;
}

footer{
    min-height: 350px;
;
}